<header class="sticky-lg-top">
    <div class="container">

            <div class="row">
              <div class="col col-lg-2">
                <div class="logo">
                    <a routerLink="/">
                        <img src="/assets/img/logo.svg">
                    </a>
                </div>
              </div>
              <div class="col-lg-6">
                <ul class="nav nav-pills">

                <li class="nav-item" ngbDropdown>
                  <a class="nav-link " tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
                    Job Seekers
                  </a>
                  <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Search Jobs</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Search Salaries</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Job Seeker Reviews</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()"> Get the App</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Create Free Account</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Job Seeker Support</a>

                   
                  </div>
                </li>

                <li class="nav-item" ngbDropdown>
                  <a class="nav-link " tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
                    Small & Medium Businesses
                  </a>
                  <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
                    <p class="employee_count">1 - 5,000 Employees</p>

                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Search Jobs</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Search Salaries</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Job Seeker Reviews</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()"> Get the App</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Create Free Account</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Job Seeker Support</a>

                   
                  </div>
                </li>

                <li class="nav-item" ngbDropdown>
                  <a class="nav-link " tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
                    Enterprise Businesses
                  </a>
                  <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
                    <p class="employee_count">5,000+ Employees</p>

                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Search Jobs</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Search Salaries</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Job Seeker Reviews</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()"> Get the App</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Create Free Account</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Job Seeker Support</a>

                   
                  </div>
                </li>

               
                  </ul>

              </div>
              <div class="col col-lg-4 secondary-area">
                <div class="secondary-nav">
                    <a [routerLink]="['/auth/register/employer']"   class="post-job">Post a Job</a>
                    <a routerLink="/auth" class="sign-in">Sign In</a>
                </div>
              </div>
            
            
            </div>
            

    </div>
</header>


