<div class="login-page">
    <div class="container-sm">
        <div class="sign-in">
            <h2>Change Password</h2>
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <input class="form-control" type="text" placeholder="Email" formControlName="email">
                <input class="form-control" type="password" placeholder="Current Password" fromControlName="currentPassword">
                <input class="form-control" type="password" placeholder="New Password" formControlName="newPassword">
                <div class="text-center">
                    <button  class="btn-light-grenn mb-3">Submit</button>

                </div>
            </form>
            <div class="text-center">
                <a id="forgotPasswordLink"  routerLink="/auth/login">
                    Go to Sign In
                  </a>
            </div>
        </div>
    </div>
</div>