<div id="myProgress">
  <div id="myBar"></div>
</div>
<div class="login-page">
  <div class="text-center m-3">
    <img src="/assets/img/logo.svg" />

    <h4 class="text-light-green" *ngIf="forthForm || fifthForm">
      <b>
        80% of employers who post a job on ZipRecruiter get a quality candidate
        through the site within the first day!
      </b>
    </h4>
  </div>

  <div class="container-sm">
    <div class="sign-in">
      <div class="first-form" *ngIf="firstForm">
        <h2 class="text-center">Create an Employer Account</h2>
        <form [formGroup]="firstRegisterForm">
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Your Name"
              formControlName="name"
            />

            <div *ngIf="f['name'].touched && f['name'].errors">
              <small class="text-danger" *ngIf="f['name'].errors?.['required']">
                this feild is required
              </small>
            </div>
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Email Address"
              formControlName="email"
            />
            <small class="text-left"
              >Candidates that apply to your job will be sent to this
              email</small
            >
            <div *ngIf="f['email'].touched && f['email'].errors">
              <small
                class="text-danger"
                *ngIf="f['email'].errors?.['required']"
              >
                this feild is required
              </small>
              <small class="text-danger" *ngIf="f['email'].errors?.['email']">
                please enter valid email
              </small>
            </div>
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="password"
              placeholder="Create Password"
              formControlName="password"
            />
            <small>Minimum 8 characters</small>
            <div *ngIf="f['password'].touched && f['password'].errors">
              <small
                class="text-danger"
                *ngIf="f['password'].errors?.['required']"
              >
                this feild is required
              </small>
              <small
                class="text-danger"
                *ngIf="f['password'].errors?.['minlength']"
              >
                minlength is 8 character
              </small>
            </div>
          </div>

          <div class="text-center mt-3">
            <button class="btn-light-grenn mb-3" (click)="submitFristForm()">
              Get Started
            </button>

            <p>
              By clicking 'Get Started' I agree to the ZipRecruiter
              <a href="">Terms of Use </a>and acknowledge I have read the
              <a href="">Privacy Policy</a>.
            </p>
          </div>
        </form>
      </div>

      <div class="second-form" *ngIf="secondForm">
        <h2 class="text-center"><b> Tell Us About Your Company </b></h2>
        <h4>I Want to :</h4>

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink routerLinkActive="active_link">Hire For My Company</a>
            <ng-template ngbNavContent>
              <form [formGroup]="secondRegisterForm">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Company Name"
                    name="compName"
                    id="compName"
                  />
                  <div *ngIf="f2['compName'].touched && f2['compName'].errors">
                    <small class="text-danger" *ngIf="f2['compName'].errors?.['required']">
                      this feild is required
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    class="form-control"
                    formControlName="jopsNo"
                  >
                    <option selected>
                      - How many jobs do you need to fill? -
                    </option>
                    <option value="small-company-5">
                      Company (1-5 employees)
                    </option>
                    <option value="small-company-10">
                      Company (6-10 employees)
                    </option>
                    <option value="medium-company-20">
                      Company (11-20 employees)
                    </option>
                    <option value="medium-company-50">
                      Company (21-50 employees)
                    </option>
                    <option value="medium-company-100">
                      Company (51-100 employees)
                    </option>
                    <option value="large-company-250">
                      Company (101-250 employees)
                    </option>
                    <option value="large-company-500">
                      Company (251-500 employees)
                    </option>
                    <option value="large-company-3500">
                      Company (501-3,500 employees)
                    </option>
                    <option value="large-company-3501">
                      Company (3,500+ employees)
                    </option>
                    <option value="recruiting-firm">Recruiting firm</option>
                    <option value="staffing-agency">Staffing agency</option>
                    <option value="-" disabled="disabled">
                      ---------------
                    </option>
                    <option value="seeker">I'm a job seeker</option>
                  </select>
                  <div *ngIf="f2['jopsNo'].touched && f2['jopsNo'].errors">
                    <small class="text-danger" *ngIf="f2['jopsNo'].errors?.['required']">
                      this feild is required
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    class="form-control"
                    formControlName="hireNeeds"
                  >
                    <option selected>
                      Which of these best describes your hiring needs?
                    </option>
                    <option value="small-company-5">
                      Company (1-5 employees)
                    </option>
                    <option value="small-company-10">
                      Company (6-10 employees)
                    </option>
                    <option value="medium-company-20">
                      Company (11-20 employees)
                    </option>
                  </select>
                  <div *ngIf="f2['hireNeeds'].touched && f2['hireNeeds'].errors">
                    <small class="text-danger" *ngIf="f2['hireNeeds'].errors?.['required']">
                      this feild is required
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Company Website(optional)"
                    name="compWebsite"
                    id="compWebsite"
                    formControlName="compWebsite"
                  />
                  <div *ngIf="f2['compWebsite'].touched && f2['compWebsite'].errors">
                    <small class="text-danger" *ngIf="f2['compWebsite'].errors?.['required']">
                      this feild is required
                    </small>
                  </div>
                </div>
                <div class="text-center">
                  <button class="btn-light-grenn" (click)="submitSecondForm()">
                    continue
                  </button>
                </div>
              </form>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink routerLinkActive="active_link">Find A job</a>
            <ng-template ngbNavContent>
              <div class="text-center">
                <p>Looking for a job?</p>
                <p>
                  <a [routerLink]="['/']"
                    >Click here to begin your job search.</a
                  >
                </p>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
      <div class="third-form" *ngIf="thirdForm">
        <h2 class="text-center"><b> Finalize Your Details </b></h2>
        <form [formGroup]="thirdRegisterForm">
          <div class="form-group">
            <select
              class="form-select"
              aria-label="Default select example"
              class="form-control"
              formControlName="title"
            >
              <option selected>- Your current title -</option>
              <option value="small-company-5">Company (1-5 employees)</option>
              <option value="small-company-10">Company (6-10 employees)</option>
              <option value="medium-company-20">
                Company (11-20 employees)
              </option>
            </select>
            <div *ngIf="f3['title'].touched && f3['title'].errors">
              <small
                class="text-danger"
                *ngIf="f3['title'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="phone number"
              name="phone"
              id="phone"
              formControlName="phone"
            />
            <div *ngIf="f3['phone'].touched && f3['phone'].errors">
              <small
                class="text-danger"
                *ngIf="f3['phone'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="zipcode"
              name="zipCode"
              id="zipCode"
              formControlName="zipCode"
            />
            <div *ngIf="f3['zipCode'].touched && f3['zipCode'].errors">
              <small
                class="text-danger"
                *ngIf="f3['zipCode'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>

          <div class="form-group">
            <select
              class="form-select"
              aria-label="Default select example"
              class="form-control"
              formControlName="tracksystem"
            >
              <option selected>
                - Do you use an Applicant Tracking System? -
              </option>
              <option value="small-company-5">Company (1-5 employees)</option>
              <option value="small-company-10">Company (6-10 employees)</option>
              <option value="medium-company-20">
                Company (11-20 employees)
              </option>
            </select>
            <div *ngIf="f3['tracksystem'].touched && f3['tracksystem'].errors">
              <small
                class="text-danger"
                *ngIf="f3['tracksystem'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>
          <div class="form-group">
            <select
              class="form-select"
              aria-label="Default select example"
              class="form-control"
              formControlName="salary"
            >
              <option selected>- What's your monthly hiring budget? -</option>
              <option value="small-company-5">Company (1-5 employees)</option>
              <option value="small-company-10">Company (6-10 employees)</option>
              <option value="medium-company-20">
                Company (11-20 employees)
              </option>
            </select>
            <div *ngIf="f3['salary'].touched && f3['salary'].errors">
              <small
                class="text-danger"
                *ngIf="f3['salary'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>
          <div class="form-group">
            <select
              class="form-select"
              aria-label="Default select example"
              class="form-control"
              formControlName="social"
            >
              <option selected>- How did you hear about us? -</option>
              <option value="small-company-5">Company (1-5 employees)</option>
              <option value="small-company-10">Company (6-10 employees)</option>
              <option value="medium-company-20">
                Company (11-20 employees)
              </option>
            </select>
            <div *ngIf="f3['social'].touched && f3['social'].errors">
              <small
                class="text-danger"
                *ngIf="f3['social'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>

          <div class="text-center">
            <button class="btn-light-grenn" (click)="submitThirdForm()">
              continue
            </button>
          </div>
        </form>
      </div>
      <div class="forth-form" *ngIf="forthForm">
        <form [formGroup]="forthRegisterForm">
          <div class="form-group">
            <label for="jobTitle">*jobTitle</label>
            <input
              type="text"
              class="form-control"
              placeholder="ENTER job Title"
              name="jobTitle"
              id="jobTitle"
              formControlName="title"
            />
            <div *ngIf="f4['title'].touched && f4['title'].errors">
              <small
                class="text-danger"
                *ngIf="f4['title'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>
          <div class="form-group">
            <label for="jobLocation">*jobLocation</label>

            <input
              type="text"
              class="form-control"
              placeholder="Enter zip or city or state"
              name="jobLocation"
              id="jobLocation"
              formControlName="jobLocation"
            />
            <div *ngIf="f4['jobLocation'].touched && f4['jobLocation'].errors">
              <small
                class="text-danger"
                *ngIf="f4['jobLocation'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>
          <div class="form-group">
            <label for="StreetAddress">Street Address:</label>
            <small
              >Some job boards allow users to search with a map. Enter your
              street address for better visibility.
            </small>
            <input
              type="text"
              class="form-control"
              placeholder="Street Address:"
              name="Street Address:"
              id="StreetAddress"
              formControlName="street"
            />
            <div *ngIf="f4['street'].touched && f4['street'].errors">
              <small
                class="text-danger"
                *ngIf="f4['street'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>
          <div class="form-group">
            <b
              >*Are You Willing to Accept Fully Remote Employees for this
              Position?</b
            >
            <small class="mb-3"
              >Selecting Yes will allow this job post to be seen by applicants
              looking for remote positions.
            </small>
            <label for="yes"><b>yes</b></label>
            <input type="radio" name="acceptRemote" id="yes" formControlName="hireRemte"/>
            <label for="no"><b>no</b></label>

            <input type="radio" name="acceptRemote" id="no" formControlName="hireRemte" />
            <div *ngIf="f4['hireRemte'].touched && f4['hireRemte'].errors">
              <small
                class="text-danger"
                *ngIf="f4['hireRemte'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>

          <div class="form-group">
            <label for="Employment_Type"><b>*Employment Type: </b></label>
            <select
              class="form-select"
              aria-label="Default select example"
              class="form-control"
              id="Employment_Type"
              formControlName="EmploymentType"
            >
              <option selected>
                - Do you use an Applicant Tracking System? -
              </option>
              <option value="small-company-5">Company (1-5 employees)</option>
              <option value="small-company-10">Company (6-10 employees)</option>
              <option value="medium-company-20">
                Company (11-20 employees)
              </option>
            </select>
            <div *ngIf="f4['EmploymentType'].touched && f4['EmploymentType'].errors">
              <small
                class="text-danger"
                *ngIf="f4['EmploymentType'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>
          <div class="form-group">
            <label for="Job_Description"><b>*Job Description:</b></label>
            <textarea
              class="form-control"
              name="Job_Description"
              id="Job_Description"
              placeholder="Enter job description"
              formControlName="Description"
            ></textarea>
            <div *ngIf="f4['Description'].touched && f4['Description'].errors">
              <small
                class="text-danger"
                *ngIf="f4['Description'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>
          <div class="form-group">
            <label for="Job_Description"
              ><b>*Why Work at This Company? :</b></label
            >
            <textarea
              class="form-control"
              name="Job_Description"
              id="Job_Description"
              placeholder="Awesome CEO, great benefits, and lots of room for growth!"
              formControlName="reason"
            ></textarea>
            <div *ngIf="f4['reason'].touched && f4['reason'].errors">
              <small
                class="text-danger"
                *ngIf="f4['reason'].errors?.['required']"
              >
                this feild is required
              </small>
         
            </div>
          </div>

          <button class="btn-light-grenn mr-5" (click)="submitForthForm()">
            Save & continue
          </button>
          <a [routerLink]="['/']"> save Draft</a>
        </form>
      </div>
      <div class="fifth-form" *ngIf="fifthForm">
        <div class="form-header">
          <h2 class="text-light-green">
            <b> Start Your FREE Trial Now & Instantly Notify Candidates </b>
          </h2>

          <p>
            Enjoy your free trial until Saturday, December 11, 2021. Upgrade,
            downgrade or cancel anytime. Only $16.00/day per job after your
            trial ends.
          </p>
          <hr />
          <h4>
            <b> Select your free trial level: </b>
          </h4>
          <small>
            Post your job now and within minutes we'll start notifying qualified
            candidates!
          </small>
        </div>

        <div class="offer">
          <h4><b class="text-light-green"> Standard </b></h4>
          <small>Great for hiring on a budget</small>

          <hr />
          <p>
            <mat-icon>done</mat-icon>

            Distribution to 100+ job boards
          </p>
        </div>
        <div class="offer">
          <h4><b> Premium </b></h4>
          <small> The best way to hire fast </small>
          <hr />
          <p>
            <mat-icon>done</mat-icon>

            Distribution to 100+ job boards
          </p>
          <p>
            <mat-icon>done</mat-icon>

            Distribution to 100+ job boards
          </p>
          <p>
            <mat-icon>done</mat-icon>

            Distribution to 100+ job boards
          </p>
          <div class="text-center">
            <button class="btn-light-grenn">try premiam for free</button>
          </div>
        </div>
        <form [formGroup]="fifthRegisterForm">
          <div class="form-group">
            <h2 class="heading">Booking & contact</h2>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Full Name"
                formControlName="fullName"
              />
              <div *ngIf="f5['fullName'].touched && f5['fullName'].errors">
                <small
                  class="text-danger"
                  *ngIf="f5['fullName'].errors?.['required']"
                >
                  this feild is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="example@email.com"
                formControlName="email"
              />
              <div *ngIf="f5['email'].touched && f5['email'].errors">
                <small
                  class="text-danger"
                  *ngIf="f5['email'].errors?.['required']"
                >
                  this feild is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <input
                type="tel"
                id="phone"
                class="form-control"
                name="phone"
                placeholder="phone"
                formControlName="phone"
              />
              <div *ngIf="f5['phone'].touched && f5['phone'].errors">
                <small
                  class="text-danger"
                  *ngIf="f5['phone'].errors?.['required']"
                >
                  this feild is required
                </small>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    id="expMonth"
                    class="form-control"
                    placeholder="expMonth"
                    formControlName="expMonth"
                  />
                  <div *ngIf="f5['expMonth'].touched && f5['expMonth'].errors">
                    <small
                      class="text-danger"
                      *ngIf="f5['expMonth'].errors?.['required']"
                    >
                      this feild is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    id="expYear"
                    class="form-control"
                    placeholder="expYear"
                    formControlName="expYear"
                  />
                  <div *ngIf="f5['expYear'].touched && f5['expYear'].errors">
                    <small
                      class="text-danger"
                      *ngIf="f5['expYear'].errors?.['required']"
                    >
                      this feild is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    id="cvv"
                    class="form-control"
                    placeholder="CVV"
                    formControlName="cvv"
                  />
                  <div *ngIf="f5['cvv'].touched && f5['cvv'].errors">
                    <small
                      class="text-danger"
                      *ngIf="f5['cvv'].errors?.['required']"
                    >
                      this feild is required
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                id="street"
                class="form-control"
                name="street"
                placeholder="street"
                formControlName="street"
              />
              <div *ngIf="f5['street'].touched && f5['street'].errors">
                <small
                  class="text-danger"
                  *ngIf="f5['street'].errors?.['required']"
                >
                  this feild is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <input
                type="number"
                id="street-number"
                class="form-control"
                name="street-number"
                placeholder="block number"
                formControlName="blockNum"
              />
              <div *ngIf="f5['blockNum'].touched && f5['blockNum'].errors">
                <small
                  class="text-danger"
                  *ngIf="f5['blockNum'].errors?.['required']"
                >
                  this feild is required
                </small>
              </div>
            </div>

            <div class="form-group">
              <input
                type="text"
                id="city"
                class="form-control"
                name="city"
                placeholder="City"
                formControlName="city"
              />
              <div *ngIf="f5['city'].touched && f5['city'].errors">
                <small
                  class="text-danger"
                  *ngIf="f5['city'].errors?.['required']"
                >
                  this feild is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                id="post-code"
                class="form-control"
                placeholder="post-code"
                formControlName="zipCode"
              />
              <div *ngIf="f5['zipCode'].touched && f5['zipCode'].errors">
                <small
                  class="text-danger"
                  *ngIf="f5['zipCode'].errors?.['required']"
                >
                  this feild is required
                </small>
              </div>
            </div>

            <div class="form-group">
              <input
                type="text"
                id="country"
                class="form-control"
                placeholder="country"
                formControlName="country"
              />
              <div *ngIf="f5['country'].touched && f5['country'].errors">
                <small
                  class="text-danger"
                  *ngIf="f5['country'].errors?.['required']"
                >
                  this feild is required
                </small>
              </div>
            </div>
          </div>

          <button class="btn-light-grenn mr-5" (click)="submitFifthForm()">
            post My job Now
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
