<div class="login-page">
  <div class="container-sm">
    <div class="sign-in">
      <h2 class="text-center">Sign In</h2>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            (click)="toggleRole = 'employer'"
            [ngClass]="toggleRole == 'employer' ? 'active' : 'nav-link'"
            >I'm an Employer</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="toggleRole = 'seeker'"
            [ngClass]="toggleRole == 'seeker' ? 'active' : 'nav-link'"
            >I'm a Job Seeker</a
          >
        </li>
      </ul>
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <input
          class="form-control inp-text"
          type="text"
          placeholder="Email Address"
          formControlName="email"
          autocomplete
        />
        <input
          class="form-control inp-pass"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <button
          class="btn-light-grenn mb-3"
          style="margin: auto; display: flex; justify-content: center"
          (click)="
            toggleRole == 'employer' ? loginAsemployer() : loginAsSeeker()
          "
        >
          Login
        </button>
      </form>
 

      <div class="text-center">
        <a class="mr-3 " routerLink="/auth/Forget-password"> Forgot Password? </a>
        <a class="mr-3 " routerLink="/auth/activate-email"> activate email </a>
        <a class="mr-3 " routerLink="/auth/change-password"> change Password? </a>

        <p class="register-link">
          New to ZipRecruiter?
          <a
            *ngIf="toggleRole == 'employer'"
            routerLink="/auth/register/employer"
          >
            Post a job for free
          </a>
          <a
            *ngIf="toggleRole == 'seeker'"
            routerLink="/auth/register/seeker/seeker-multi-Steps"
          >
            Create a job seeker profile
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
