@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&display=swap');
.banner-section{
    background-image: url('/../assets/img/postjobbanner.jpg');
    background-size: cover;
    height: 100vh;
    overflow: auto;
}
.banner-section .container{
    max-width: 1450px!important;
}
.banner-section .caption-text{
    margin-top: 30%;
}

.banner-section .sign-in{
    margin: auto;
    max-width: 500px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 6px rgb(0 0 0 / 10%);
    border-radius: 6px;
    max-width: 100%;
    padding: 25px;
    width: 500px;
    border-top: 5px solid #277f6a;
}
.banner-section .sign-in h2{
    color: #2f3639;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-family: 'Frank Ruhl Libre', serif;
}
.banner-section .sign-in a{
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 15px;
    margin-top: 25px;
}
.banner-section .sign-in form input{
    border-radius: 0;
    margin-bottom: 15px;
}
.banner-section .sign-in form button{
    letter-spacing: 0;
    display: inline-block;
    text-decoration: none;
    text-shadow: none;
    -webkit-appearance: none;
    transition: background-color .1s linear,border-color .1s linear;
    vertical-align: middle;
    text-align: center;
    border-radius: 2em;
    outline: 0;
    font-family: Arial,sans-serif;
    color: #fff;
    background: #277f6a none;
    border: 1px solid #277f6a;
    max-width: 360px;
    font-weight: 700;
    padding: 11px 50px 11px 50px;
    line-height: 24px;
    white-space: normal;
    width: auto;
    font-size: 17px;
    white-space: nowrap;
    cursor: pointer;
margin-top: 30px;
}
.banner-section select{
    padding: 12px;
    border-radius: 0;
}
.banner-section select:focus{
    border: 1px solid #277f6a !important;
    box-shadow: 0 0 0 1px #277f6a !important;
}