<div class="banner-section">
    <div class="container">
        <div class="row">
            <div class="col col-lg-5">
                <div class="row caption-text">
                    <div class="col-lg-12">
                        <div class="sign-in">
                            <h2>Post Your First Job in Minutes</h2>
                            <p>Tell Us About Your Company to Get Started</p>
                            <form >
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>How many current employees do you have?</option>
                                    <option value="small-company-5">Company (1-5 employees)</option>
                                    <option value="small-company-10">Company (6-10 employees)</option>
                                    <option value="medium-company-20">Company (11-20 employees)</option>
                                    <option value="medium-company-50">Company (21-50 employees)</option>
                                    <option value="medium-company-100">Company (51-100 employees)</option>
                                    <option value="large-company-250">Company (101-250 employees)</option>
                                    <option value="large-company-500">Company (251-500 employees)</option>
                                    <option value="large-company-3500">Company (501-3,500 employees)</option>
                                    <option value="large-company-3501">Company (3,500+ employees)</option>
                                    <option value="recruiting-firm">Recruiting firm</option>
                                    <option value="staffing-agency">Staffing agency</option>
                                    <option value="-" disabled="disabled">---------------</option>
                                    <option value="seeker">I'm a job seeker</option>
                                  </select>
                                  <button  class="btn-light-green" [routerLink]="['./emp-multi-Steps']" routerLinkActive="router-link-active" >Post Jobs for Free </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
