.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
#myProgress{
background: #c1ebe1;
 justify-content: left; 
 margin: 0 auto;
position: fixed; 
left: 0;

top: 0;
width: 100%;
height: 8px;

}
#myBar{
background-color: #5dd6bc;
width:30%;
height: 8px;
}

.login-page img {
height: 36px;

}
/* 
.text-center>.small{
line-height: 1px;
} */
.nav-tabs .nav-link{
color: #495057;
background-color: #fff;
/* border-color: #dee2e6 #dee2e6 #fff; */
border: 1px solid #dee2e6;
width: 220px;
}
.nav-tabs .nav-link.active {
background-color: #f0f0f0;
}


.nav-tabs {
border-bottom: 0
}


.offer{
padding: 15px;
border: 1px solid gray;
border-radius: 4px;
width: 100%;
margin-bottom:30px ;
&:hover{
  border:2px solid var(--light-grenn);
}
.activeLink{
  border:2px solid var(--light-grenn);

}
}
.mat-icon{
color: var(--light-grenn);
}