:root {
  --verylight-blue: #24bdff;
  --blue: #287bff;
  --light-blue: #1977f3;
  --dark-blue: #08427a;
  --verydark-blue: #222833;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --light-grenn:#277f6a;
  --grediant-blue: linear-gradient(
    90deg,
    var(--verydark-blue),
    var(--dark-blue),
    var(--light-blue),
    var(--verylight-blue)
  );
}

.bg-white {
  background-color: var(--white) !important;
}

.verylight-blue {
  color: var(--verylight-blue);
}
.bg-verylight-blue {
  background-color: var(--verylight-blue);
}

.light-blue {
  color: var(--light-blue);
}
.bg-light-blue {
  background-color: var(--light-blue);
}

.dark-blue {
  color: var(--dark-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.verydark-blue {
  color: var(--verydark-blue);
}

.bg-verydark-blue {
  background-color: var(--verydark-blue);
}



.btn-gred,
.btn-gred:hover {
  padding: 5px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: none;
  background: #1261c1;

  color: var(--white);
  box-shadow: 5px 7px 3px 0px #88888826;
}

.btn-gred:hover {
  background: #083d7e;
}

.bg-gred {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    var(--verydark-blue),
    var(--dark-blue),
    var(--light-blue),
    var(--verylight-blue)
  );
}
.text-light-green{
  color:var(--light-grenn)!important;
}

.btn-light-grenn,
  .btn-light-grenn:hover{
  display: inline-block;
  text-decoration: none;
  border-radius: 2em;
  outline: 0;
  font-family: Arial,sans-serif;
  color: #fff;
  background: var(--light-grenn) none;
  border: 1px solid var(--light-grenn);
  font-weight: 700;
  padding: 9px 40px 9px 40px;
  width: 240px;
  font-size: 16px;
}
.btn-light-grenn.btn-block{
  width: 100%!important;
}