footer{
    padding:50px 0;
    hr{
        background-color: #b0b0b0;
    }
    .logo{
        img{
            height: 72px;
        }
    }
    h2{
        font-size: 17px;
        font-weight: 400;
        color: #2f3639;
        margin-bottom: 20px;
        line-height: 1.5em;
    }
    ul{
        list-style-type: none;
        padding-left: 0!important;
        li{
            padding: 5px;
        }
    }
    a{
        padding: 0;
        display: block;
        color: #72777c;
        text-decoration: none;
    
    }
    .last-part{
        text-align: center;
        font-size: 0.8rem;
        a{
            display: inline-block!important;
            font-size: 0.8rem;
            padding-right:8px;
        }
        .copy-write{
            margin-top: 10px;
        }
        ul li.item{
            display: inline-block!important;

            &::after{
                content: '|';
                color: #d8dbdc;
                margin: 0 0 0 6px;
            }
        }
      
    }
}

