<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6  col-md-6 col-lg-2 logo d-lg-block d-md-none d-none">
                <img src="/assets/img/footer-logo.svg" class="w-25">
            </div>
            <div class="col-6 col-sm-6  col-md-6 col-lg-2">
                <h2>
                    <b>

                        Job Seekers
                    </b>
                </h2>
                <ul>
                    <li>
                        <a href="#">
                            Search Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Browse Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Search Salaries
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Reviews
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mobile Apps
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Create Free Account
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Support
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Trust and Safety
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-6  col-md-6 col-lg-2">
                <h2>
                    <b>

                        Job Seekers
                    </b>
                </h2>
                <ul>
                    <li>
                        <a href="#">
                            Search Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Browse Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Search Salaries
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Reviews
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mobile Apps
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Create Free Account
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Support
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Trust and Safety
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-6  col-md-6 col-lg-2">
                <h2>
                    <b>

                        Job Seekers
                    </b>
                </h2>
                <ul>
                    <li>
                        <a href="#">
                            Search Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Browse Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Search Salaries
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Reviews
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mobile Apps
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Create Free Account
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Support
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Trust and Safety
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-6  col-md-6 col-lg-2">
                <h2>
                    <b>

                        Job Seekers
                    </b>
                </h2>
                <ul>
                    <li>
                        <a href="#">
                            Search Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Browse Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Search Salaries
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Reviews
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mobile Apps
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Create Free Account
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Support
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Trust and Safety
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-6  col-md-6 col-lg-2">
                <h2>
                    <b>

                        Job Seekers
                    </b>
                </h2>
                <ul>
                    <li>
                        <a href="#">
                            Search Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Browse Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Search Salaries
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Reviews
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mobile Apps
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Create Free Account
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Job Seeker Support
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Trust and Safety
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container last-part">
        <p>Your privacy is our priority. Learn more: Do Not Sell My Personal Information</p>
        <ul>
            <li class="item">
              <a href="" title="COVID-19 resources for job seekers">COVID-19 Resources</a>
            </li>
            <li class="item">
              <a href="">Privacy<span class="fullText"> Policy</span></a>
            </li>
            <li class="item">
              <a href="">Ca<span class="fullText">lifornia</span> Privacy<span class="fullText"> Notice</span></a>
            </li>
            <li class="item">
              <a href="">Terms<span class="fullText"> of Use</span></a>
            </li>
            <li class="item">
              <a href=""><span class="fullText">Job</span> Posting Rules</a>
            </li>
            <li class="item">
              <a href="">Attribution<span class="fullText"> Notices</span></a>
            </li>
            <li class="item">
              <a href="">Corp<span class="fullText">orate</span> Responsibility</a>
            </li>
          </ul>
        <p class="copy-write">ZipRecruiter, Inc. © 2021 All Rights Reserved Worldwide</p>
    </div>
</footer>