@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&display=swap');
.banner-section{
    background-image: url('/../assets/img/banner.jpg');
    background-size: cover;
    height: 100vh;
    overflow: auto;
    .container{
            max-width: 1450px!important;
        }
    .caption-text{
        margin-top: 40%;
        h2{
            font-size: 2.5rem;
            font-family: 'Frank Ruhl Libre', serif;
            span{
                font-size: 15px;
                line-height: 1.2;
                font-weight: regular;
            }
        }
        p{
            font-size: 18px;
            font-weight: 500;
        }
        h2,p{
            color: #fff;

        }
        a{
            display: inline-block;
            text-decoration: none;
        }
        .hiring{
            display: block;
            color: white;
            font-size: 16px;
            font-weight: 700;
            margin-top: 30px;
            text-decoration: underline;
        }
    }
    .banner-lower-caption{
        text-align: center;
        padding-top: 30px;
        .star-container i{
            color:#f2c406;  
            font-size: 1.3rem;
            margin-right:7px;
        }
        h4{
            color: #fff;
        }
    }
    .stars-section{
        margin-top: 6rem;
        .fa-star{
            color: #f2c406;
            font-size: 20px;
            padding: 0 3px;
        
         
        }
    }
}

