<div class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col col-lg-5">
        <div class="caption-text">
          <div class="col-lg-12" >
            <h2 style="line-height: 1">
              “Like a personal recruiter, ZipRecruiter did the legwork for me”
              <span>—Kristina R.</span>
            </h2>
            <p>
              Finding a job shouldn’t be a full-time job. Tell us what you’re
              looking for and we’ll get to work for you.
            </p>
            <button class="btn-light-grenn">Get Started</button>
            <a href="#" class="hiring"> Hiring? Post Jobs for Free. </a>
          </div>
        </div>
      </div>
      <div class="col col-lg-7"></div>
    </div>
    <div class="row justify-content-lg-center stars-section">
      <div class="col col-lg-4 banner-lower-caption">
        <div class="star-container">
          <fa-icon [icon]="faStar" class="fa-star"></fa-icon>
          <fa-icon [icon]="faStar" class="fa-star"></fa-icon>
          <fa-icon [icon]="faStar" class="fa-star"></fa-icon>
          <fa-icon [icon]="faStar" class="fa-star"></fa-icon>
          <fa-icon [icon]="faStar" class="fa-star"></fa-icon>
        </div>
        <h4>
          Rated #1 Job Site in the U.S.<sup
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Based on G2 satisfaction ratings as of November 1, 2020"
            >1</sup
          >
        </h4>
      </div>
    </div>
  </div>
</div>
