<div class="login-page">
    <div class="container-sm">
        <div class="sign-in">
            <h2>Resend Activation Email </h2>
            <p>Enter the email address for your ZipRecruiter account below and we will email you a link to activate your account. </p>
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <input class="form-control" type="text" placeholder="Email Address" formControlName="email">
                <input type="hidden" formControlName="platformType">
                <div class="text-center">
                    <button  class="btn-light-grenn mb-3">Resend Email </button>

                </div>
            </form>
            <div class="text-center">
                <a id="forgotPasswordLink"  routerLink="/auth/login">
                    Go to Sign In
                  </a>
            </div>
        </div>
    </div>
</div>