
<div id="wrapper" style="height: 100vh;">
  <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <app-header></app-header>

          <router-outlet></router-outlet>
          <app-footer></app-footer>
      </div>

  </div>

</div>
