/* You can add global styles to this file, and also import other style files */

@import url("./assets/theme/colors.css");

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-grenn);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Corner */
::-webkit-scrollbar-corner {
  background: var(--white);
}

/* Resizer */
::-webkit-resizer {
  background: var(--white);
}



// /* start styles for tables  */
// table {
//   font-family: arial, sans-serif;
//   border-collapse: collapse;
//   width: 100%;
// }

// td,
// th {
//   /* border-bottom: 1px solid #d1d1d1; */
//   text-align: left;
//   font-size: 16px;
//   padding: 20px;
// }
// table thead td {
//   font-weight: 600;
// }

// .breadcrumb {
//   margin-bottom: 0;
//   background-color: #e9ecef00;
//   font-size: 16px;
// }
/* fa-icon styles */

fa-icon {
  cursor: pointer;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


// styles for auth modules 
.login-page{
  background-color: #f6f7f8;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 100px;
  overflow-y:auto;
  .container-sm{
    // text-align: center;
  
  }
  .sign-in{
    margin: auto;
    // text-align: center;
    background-color: #fff;
    box-shadow: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 6px rgb(0 0 0 / 10%);
    border-radius: 6px;
    padding: 25px;
    width: 500px;
    h2{
      color: #2f3639;
      margin-bottom: 30px;
    }
    .nav-pills{
      justify-content: center;
      .nav-item .nav-link{
        position: relative;
        margin-bottom: 30px;
        background-color: transparent!important;
        color: #5d676b!important;
        cursor: pointer;
      }
      .nav-item .nav-link.active{
        position: relative;
        margin-bottom: 30px;
        background-color: transparent!important;
        color: #2f3639!important;
        font-weight:bold;
        &::after{
          border-radius: 4px 4px 0 0;
          content: " ";
          display: block;
          height: 4px;
          left: 0;
          position: absolute;
          bottom: -11px;
          width: 100%;
          transition: all .08s linear;
          background-color: #277f6a;
        }
      }
    }
    // a{
    //   text-decoration: none;
    //   font-size: 0.8rem;
    //   display: inline-block;
    //   margin-right: 15px;
    //   margin-top: 25px;
    // }
    form input{
      border-radius: 0;
      margin-bottom: 15px;

    }
    form input.inp-text:focus,form input.inp-pass:focus{
    
      // border: 3px solid#277F68;
      outline: none!important;

    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
